.postsGrid {
  max-width: 600px;
  padding-inline: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.postItem {
  aspect-ratio: 1 / 1.1; /* Ensure square posts */
  /* overflow: hidden; */
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
