.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgba(255, 228, 196, 0.3);
  scrollbar-width: none;
}

@media (max-width: 750px) {
  .posts {
    width: 100%;
    place-items: center;
    background-color: white;
  }
}

@media (min-width: 750px) {
  .posts {
    height: 100%;
    place-items: center;
    background-color: white;
    flex: 2;
  }
}
